.no__margin {
  margin: 0px;
}

.no__padding {
  padding: 0px;
}

header.page-cover {
  min-height: 660px;
  width: 100%;
  padding-top: 7%;
}

header.page-cover nav, .main__header {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header.page-cover .navbar-default {
  background: transparent;
  border: transparent;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 30px;
  color: #fff;
  text-shadow: 7px 3px 7px black;
  font-size: 22px;
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #000;
  text-shadow: 7px 3px 7px black;
  font-size: 22px;
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.page-cover__header {
  margin-top: 135px;
  margin-bottom: 10px;
}

.page-cover__header h1 {
  font-size: 4.5em;
  text-shadow: #000 1px 1px;
  color: #fff;
}

.page-cover__header h4 {
  font-size: 2.5em;
  text-shadow: #000 1px 1px;
  color: #fff;
}

.header-subtitle {
  min-height: 40px;
  padding: 5px 0px 5px 0px;
}

.misi, .tujuan{
    padding: 20px 100px 20px 100px;
}

@media (min-width: 750px) and (max-width: 845px) {
    div#navbar-collapse {
        margin-right: -15%;
    }
}